#buttons{
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.0) , 0, 0.0 , 0 , 0);

}
#buttons:hover{
    -fx-background-color:  #f0fcfb;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.2) , 2, 0.0 , 2 , 2);
}
#buttons:focused{
    -fx-background-color:  #f0fcfb;
    -fx-text-fill: #000000;
    fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.2) , 2, 0.0 , 2 , 2);
}